<h2 class="text-center font-bold hidden text-5xl lg:inline mb-10 text-slate-800 bg-gradient-to-r from-transparent via-blue-300 to-transparent rounded p-2">Countries</h2>
<div class="lg:w-full w-10/12 text-center ">
  <ul class="list-inside flex justify-center gap-2 items-center lg:flex-col lg:gap-0 ">
    <!-- <li
      routerLink="home"
      routerLinkActive="bg-blue-200 rounded"
      class="p-1 text-xl font-semibold hover:text-blue-500 hover:cursor-pointer transition-all duration-200 hover:border-s hover:border-blue-500"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </li>
    <li
      routerLink="about"
      routerLinkActive="bg-blue-200 rounded"
      class="p-1 text-xl font-semibold hover:text-blue-500 hover:cursor-pointer transition-all duration-200 hover:border-s hover:border-blue-500"
    >
      About
    </li>

    <li routerLink="contact" routerLinkActive="bg-blue-200 rounded"
      class="p-1 text-xl font-semibold hover:text-blue-500 hover:cursor-pointer transition-all duration-200 hover:border-s hover:border-blue-500">
      Contact
    </li> -->

    <li
      routerLink="countries/by-capital"
      routerLinkActive="bg-blue-200 rounded"
      class="p-1 text-xl font-semibold hover:text-blue-500 hover:cursor-pointer transition-all duration-200 hover:border-s hover:border-blue-500 w-full"
    >
      By capital</li>

    <li routerLink="countries/by-country" routerLinkActive="bg-blue-200 rounded"
  class="p-1 text-xl font-semibold hover:text-blue-500 hover:cursor-pointer transition-all duration-200 hover:border-s hover:border-blue-500 w-full">By country</li>

    <li routerLink="countries/by-region" routerLinkActive="bg-blue-200 rounded"
  class="p-1 text-xl font-semibold hover:text-blue-500 hover:cursor-pointer transition-all duration-200 hover:border-s hover:border-blue-500 w-full">By region</li>



  </ul>
</div>
